body{
    margin: 0;
    background-image: url("https://stmed.net/sites/default/files/purple-turquoise-blue-wallpapers-25282-3817324.jpg");
    height: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat; 
    background-size: cover;
}
.wrapr{
    margin: 0 auto;
}

header{
    top: 0;
    z-index: 99;
    position: fixed;
    width: 100%;
    font-family: 'Orbitron', sans-serif;
}

header h2{
    margin: 0;
    padding: 0.2em;
    border: 1px solid burlywood;
    text-align: center;
    background-color: black;
    text-shadow: 0 0 0.4em rgba(90, 180, 220, 0.9);
    /* font-size: 8vw; */
}

.navig{
    list-style: none;
    margin: 0;
    background: rgb(90, 180, 220);
}

.navig li a{
    text-decoration: none;
    display: block;
    color: white;
    text-align: center;
    /* font-size: 2vw; */
}

.navig li a:hover{
    background: rgb(50, 115, 212);
    color: black
}

.navig li{
    flex:1;   
}

.navig a{
        
    padding: 0.2em;
    border-top: 1px solid rgba(255, 255, 255, 0.3);
    border-bottom: 1px solid rgba(0, 0, 0, 0.7);
    border-left: 1px solid rgba(255, 255, 255, 0.3);
    border-right: 1px solid rgba(0, 0, 0, 0.3);
}

.navig ul:last-child a{
    border-bottom: none;
}

section{
    color: black;
    min-height: 1000px;
    margin: 0em 1em;
    padding: 0 0.5em;
    font-family: 'Gloria Hallelujah', cursive;
    /* font-size: 1vw; */
}

.article{
    margin: 1.5em;
    padding: 0.8em;
}

.art1, .art3{ 
    
    background-color: rgba(135, 206, 235, 0.3);
}

.hero{
    margin: 0;
}

.hero img{
    width: 100%;
    height: 100%;
    opacity: 0.6;
}

.hero img:hover{
    opacity: 0.9;
}

/* .hero:hover img, .hero:focus img {
  transform: scale(1.2);
} */

@media (min-width: 800px) {
    header h2{
        font-size: 8vw;
    }

    .navig{
        display: flex;
        flex-flow: row wrap;
        /*border:1px solid goldenrod;*/
        padding: 0.3em;
        font-size: 2vw;
    }

    .hero{
        margin-top: 15%;
    }
    section{
        display: flex;
        flex-flow: row wrap;
    }

    .art1, .art3{
        flex-basis: 25%;
    }

    .art2{
        flex-basis: 40%;
        flex: 2;
    }
}

@media (max-width: 800px) {
    header h2{
        font-size: 8vw;
    }

    section{
        font-size: 2vw;
    }

    .navig{
        padding: 0.1em;
        background: rgb(90, 180, 220);
        font-size: 4vw;
        display: flex;
        flex-flow: row wrap;
    }

    .hero{
        margin-top: 18%
    }
    
    section{
        font-size: 2vw;
    }

    .article{
        display: flex;
        flex-flow: row wrap;
    }
}

@media (max-width: 400px){
    header h2{
        font-size: 10vw;
    }

    .navig{
        display: flex;
        flex-flow: column wrap;
        padding: 0.1em;
        background: rgb(90, 180, 220);
        font-size: 5vw;
    }

    .hero{
        margin-top: 46%;
    }
    
    section{
        font-size: 2vw;
    }

    .article{
        display: flex;
        flex-flow: row wrap;
    }
}