body{
    margin: 0;
    /* background: rgb(61, 183, 228) */
}
.wrapr{
    margin: 0 auto;
    font-family: 'Montserrat', sans-serif;
}

header{
    top: 0;
    z-index: 99;
    position: fixed;
    width: 100%;
    /* font-family: 'Orbitron', sans-serif; */
}

header img{
    width: 40%;
    margin-left: 2em;
    margin-top: 0.2em;
}

.navig{
    list-style: none;
    margin: 0;
    padding: 0;
    background: white;
}

.navig li a{
    text-decoration: none;
    display: block;
    color: black;
    text-align: right;
    font-weight: 400;

    /* font-size: 2vw; */
}

.hdr li a:hover{
    
    color: rgb(61, 183, 228);
}

.navig li{
    flex: 1; 
    padding-right: 1em;  
}

.navig a{    
    padding: 0.2em;
}

.navig ul:last-child a{
    border-bottom: none;
}

section{
    color: black;
    /* font-family: 'Gloria Hallelujah', cursive; */
    /* font-size: 1vw; */
}

section figure{
    margin: 0;
}

section a{
    text-decoration: none;
    color: black;
}

section img{
    width: 100%
}

section h3, h5{
    margin-left: 2vw;
    margin-right: 2vw;
}

section h3{
    font-weight: 400;
}

section h5{
    font-weight: 200;
}

article{
    background-color: rgba(135, 206, 235, 0.5);
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
    border-right: 1px solid rgba(255, 255, 255,0.3)
}

.hero{
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 0;
    display: flex;
    flex-direction: column;
}

.hero img{
    width: 100%;
    height: 100%;
    opacity:0.6;
    transition: 1s ease;
    
}

.hero:hover img {
    opacity: 0.9;
}

.heroftr{
    padding: 3em;
    padding-top: 5em;
    background: blue;
    color: white;
    text-align: center;
}

.heroftr h1{
    font-size: 4vw;
    font-weight: 900;
}

.heroftr h3{
    font-size: 2.5vw;
    font-weight: 100;
}

.heroftr h4{
    background-color: rgb(204, 24, 30);
    font-size: 2vw;
    margin: 3em 20% 3em;
    padding: 2em;
}

#trailer a{
    text-decoration: none;
    color: inherit;
}

.wrapr h1{
    text-align: center;
    margin: 1em;
}

footer{
    background-color: black;
}

footer .navig i{
    color: white;
}

footer h3{
    margin: 1em auto;
    padding-top: 1em;
    color: gray;
    font-weight: 600;
    /* font-family: 'Josefin Sans', sans-serif; */
}

.copyright p{
    margin-bottom: 0;
    padding-bottom: 1em;
    /* font-family: 'Open Sans Condensed', sans-serif; */
    color: gray
}

#fb{
    background-color: rgb(59, 89, 152);
}

#ytube{
    background-color: rgb(255, 0, 0);
}

#rt{
    background-color: rgb(0, 172, 237);
}

#insta{
    background-color: rgb(195, 42, 163);
}

#twitch{
    background-color: rgb(100, 65, 164);
}

/* .hero:hover img, .hero:focus img {
  transform: scale(1.2);
} */

@media (min-width: 800px) {
    .navig{
        display: flex;
        flex-flow: row wrap;
        align-items: center;
        /*border:1px solid goldenrod;*/
        font-size: 1.5vw;
    }

    .hero{
        margin-top: 4%;
    }
    section{
        display: flex;
        flex-flow: row wrap;
        align-items: flex-end;
    }

    .article{
        flex: 1;
        margin: 1em;
    }

    footer p{
        font-size: 0.8vw
    }
}

@media (max-width: 800px) {

    header img{
        width: 100%;
        margin-left: 0.6em;
        margin-top: 0.2em;
    }

    section h3{
        font-size: 3vw;
    }

    section h5{
        font-size: 2vw;
    }

    .navig{
        font-size: 3vw;
        display: flex;
        flex-flow: row wrap;
        align-items: center;
    }

    .hero{
        margin-top: 7%
    }
    
    section{
        display: flex;
        flex-flow: column nowrap;
    }

    .article{
        flex: 1;
    }

    footer

    footer h3{
        font-size: 2vw;
    }

    footer p{
        font-size: 1vw;
    }
}

@media (max-width: 425px){
    header img{
        width: 30%;
    }

    .navig{
        display: flex;
        flex-flow: column wrap;
        align-items: centre;
        font-size: 4vw;
    }

    .hero{
        margin-top: 48%;
    }

    .heroftr a{
        font-size: 2.5vw;
    }
    section h3{
        font-size: 4vw;
    }

    section h5{
        font-size: 3vw;
    }
    
    section{
        display: flex;
        flex-flow: column wrap;
    }

    .article{
        flex: 1;
    }

    footer{
        display: block;
        text-align: center;
    }

    footer h3{
        font-size: 3vw;
    }

    footer p{
        font-size: 1vw;
    }
}