body{
    margin: 0;
    background-image: url("https://stmed.net/sites/default/files/purple-turquoise-blue-wallpapers-25282-3817324.jpg");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat; 
    background-size: cover;
}
.wrapr{
    margin: 0 auto;
}

header{
    top: 0;
    z-index: 99;
    position: fixed;
    width: 100%;
    font-family: 'Orbitron', sans-serif;
}

header h2{
    margin: 0;
    padding: 0.2em;
    border: 1px solid burlywood;
    text-align: center;
    background-color: black;
    text-shadow: 0 0 0.4em rgba(90, 180, 220, 0.9);
    /* font-size: 8vw; */
}

.navig{
    list-style: none;
    margin: 0;
    background: rgb(90, 180, 220);
}

.navig li a{
    text-decoration: none;
    display: block;
    color: white;
    text-align: center;
    /* font-size: 2vw; */
}

.hdr li a:hover{
    background: rgb(50, 115, 212);
    color: black
}

.navig li{
    flex:1;   
}

.navig a{
        
    padding: 0.2em;
    border-top: 1px solid rgba(255, 255, 255, 0.3);
    border-bottom: 1px solid rgba(0, 0, 0, 0.7);
    border-left: 1px solid rgba(255, 255, 255, 0.3);
    border-right: 1px solid rgba(0, 0, 0, 0.3);
}

.navig ul:last-child a{
    border-bottom: none;
}

section{
    color: black;
    margin: 0em 1em;
    padding: 0  0 0.5em;
    font-family: 'Gloria Hallelujah', cursive;
    /* font-size: 1vw; */
}

section figure{
    margin: 1em;
}

section a{
    text-decoration: none;
    color: black;
}

section a:hover{
    color: whitesmoke
}

section img{
    width: 100%
}

section h3, h5{
    margin-left: 2vw;
    margin-right: 2vw;
}

article{
    background-color: rgba(135, 206, 235, 0.5);
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
    border-right: 1px solid rgba(255, 255, 255,0.3)
}

.hero{
    margin: 0;
}

.hero img{
    width: 100%;
    height: 100%;
    opacity: 0.9;
    transition: 1s ease;
    
}

.hero:hover img {
    opacity: 0.4;
}

footer{
    background-color: black;
}

footer h3{
    margin: 1em auto;
    padding-top: 1em;
    color: gray;
    font-family: 'Josefin Sans', sans-serif;
}

.copyright p{
    margin-bottom: 0;
    padding-bottom: 1em;
    font-family: 'Open Sans Condensed', sans-serif;
    color: gray
}

#fb{
    background-color: rgb(59, 89, 152);
}

#gplus{
    background-color: rgb(219,68,55);
}

#rt{
    background-color: rgb(0, 172, 237);
}

#insta{
    background-color: rgb(195, 42, 163);
}

#git{
    background-color: rgb(0, 0, 0);
}

/* .hero:hover img, .hero:focus img {
  transform: scale(1.2);
} */

@media (min-width: 800px) {
    header h2{
        font-size: 8vw;
    }

    .navig{
        display: flex;
        flex-flow: row wrap;
        /*border:1px solid goldenrod;*/
        padding: 0.3em;
        font-size: 2vw;
    }

    .hero{
        margin-top: 15%;
    }
    section{
        display: flex;
        flex-flow: row wrap;
    }

    .article{
        flex: 1;
        margin: 1em;
    }

    footer p{
        font-size: 0.8vw
    }
}

@media (max-width: 800px) {
    header h2{
        font-size: 8vw;
    }

    section h3{
        font-size: 3vw;
    }

    section h5{
        font-size: 2vw;
    }

    .navig{
        padding: 0.1em;
        background: rgb(90, 180, 220);
        font-size: 4vw;
        display: flex;
        flex-flow: row wrap;
    }

    .hero{
        margin-top: 18%
    }
    
    section{
        display: flex;
        flex-flow: column nowrap;
    }

    .article{
        flex: 1;
    }

    footer h3{
        font-size: 2vw;
    }

    footer p{
        font-size: 1vw;
    }
}

@media (max-width: 425px){
    header h2{
        font-size: 10vw;
    }

    .navig{
        display: flex;
        flex-flow: column wrap;
        padding: 0.1em;
        background: rgb(90, 180, 220);
        font-size: 5vw;
    }

    .hero{
        margin-top: 45%;
    }

    section h3{
        font-size: 4vw;
    }

    section h5{
        font-size: 3vw;
    }
    
    section{
        display: flex;
        flex-flow: column wrap;
    }

    .article{
        flex: 1;
    }

    footer{
        display: block;
        text-align: center;
    }

    footer h3{
        font-size: 3vw;
    }

    footer p{
        font-size: 1vw;
    }
}